*{
  margin: 0;
  padding: 0;
}
body{
  background-color: azure;
  font-family: sans-serif;
  color: black;
font-size: medium;
padding: 16px;
font-size: 16px;

}
a{
  color:inherit;
  text-decoration: none;

}
a:hover{
  text-decoration: underline;
}
.Inactivelink{
  pointer-events: none;
  cursor: default;
}
.app{
  max-width: 660px;
  margin: 0 auto;
}
.title{
  font-size: 21px;
  color: red;
  margin-bottom: 24px;
  font-weight: 300;
}
.items{
  display: grid;
  row-gap: 36px;
}
.posts{
background-color:#F4F6FF;
border: 1px solid;
border-radius: 4px;
row-gap: 8px;
display: grid;
padding: 16px;
}
.post_title{
  /* font-size: 16px; */
  font-weight: bold;
  margin-top: 0;
}